<%= form_with(model: entry) do |form| %>
  <% if entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div>
        <%= form.label :meal_type, style: "display: block" %>
        <%= form.text_field :meal_type, class: "form-control" %>
      </div>

      <div>
        <%= form.label :calories, style: "display: block" %>
        <%= form.number_field :calories, class: "form-control" %>
      </div>

      <div>
        <%= form.label :proteins, style: "display: block" %>
        <%= form.number_field :proteins, class: "form-control" %>
      </div>

      <div>
        <%= form.label :carbohydrates, style: "display: block" %>
        <%= form.number_field :carbohydrates, class: "form-control" %>
      </div>

      <div>
        <%= form.label :fats, style: "display: block" %>
        <%= form.number_field :fats, class: "form-control" %>
      </div>
      <div class="d-flex justify-content-center pt-3">
        <button type="submit" class="btn btn-success mx-2">Submit</button>
        <%= link_to "Back", root_path , class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
<% end %>
